@import "tailwindcss";


@theme {
  --color-ecobazar-hard-primary: #2C742F;
  --color-ecobazar-primary: #00B207;
  --color-ecobazar-soft-primary: #84D187;
}

* {
  font-family: 'Poppins', sans-serif;
}